body {
    background-color:#FEFDFD; 
    margin: 0;
}

header {
    background-color: #0D1B3D;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
}

.logo { 
    width:30%;
    max-width: 305px;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

/* header .logo img {
    height:auto
    
    
} */

.cotiza button {
    margin: 10px;   
}

.nav nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nav-cotiza {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-link {
    font-size: 20px;
    color:#d7e8d6;
    
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}

/* SECCION HERO */

.hero {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Trajan Pro", "Times New Roman", serif;
    color: #0D1B3D;
}

.hero h1 span {
    font-family: "Playfair Display", serif;
    color: #C79D3B;
    
}

.hero-image img {
    max-height: 100%;    
}

.hero-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.hero-image {
    display: flex;
    justify-content:center;
    max-width: 100%;
    height: auto;        
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}


.hero h1 {
    font-size: 5em;
    margin-top: 20px;
}

.hero h2 {
    font-size: 1.25em;
    margin-top: 10px;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap:wrap;
}

/* SECCION NOSOTROS */ 
.contenedor-nosotros {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 3rem;
    align-items: center; 
}

.fotografia-persona img {
    width: 100%;
    height: 100%;
    object-fit:cover; 
    display: block;
    padding: 20px;
    
}

.declaratoria h2 {
    font-family: "Playfair Display", Georgia, serif;
    font-style: italic;
    font-size: 1.5rem;
}


.declaratoria p {
    
    font-style: italic;
    font-size: 1.5rem;

}

.firma p {
    
    font-style: italic;
    color:#C79D3B;
    font-size: 1.5rem;

}

/* SECCION CARROSELES */

.carousel-item img{
    height: 400px;
    object-fit: contain;

}



/* SECCION FOOTER */

footer {
    background-color:#0D1B3D;
    padding: 40px 60px 20px;
    
}

#footer-contacto h3, a {
    color: white;
    padding-top: 20px;
}

.formulario-grupo label {
    color: #C79D3B;
    font-size: 1.25rem;
    text-align: left;
    display: block; /* Asegura que el label ocupe toda la línea */
    margin-top: 10px;
}

.formulario-lead h3 {
    color:white;
}

.datos-lead {
    width: 100%;
    max-width: 450px;
}


.copyright {
    color: #C79D3B;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
}

/* .footer-contenido {
    display:flex;
    justify-content: space-between;  
    align-items: flex-start;

} */