body {
    background-color: #e8e1d6;
    margin: 0;
    
}

header {
    background-color: #a0153f;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
}

header .logo img {
    background-color: #dc16f7;
    height: 100px;
    
}

.cotiza{
   
    height: fit-content;
    align-items:center;
    padding-left: 20px;
    
}

.btn {
    font-size: 20px;
    
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-cotiza{
    display: flex;
    align-items: left;
}

.header-link {
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color:#d7e8d6
}

@media (max-width: 100px) {
  .logo {
    display: none;
  }
}

.hero {
    background-color: #9b6d22;
    text-align: center;
    padding: 100px;
    font-family: "Trajan Pro", "Times New Roman", serif;
    color: #0D1B3D;
}

.hero span {
    font-family: "Playfair Display", serif;
    color: #C79D3B;
    background-color: #ad236f;
}

.hero img {
    width: auto;
    height: 100%;
    
    object-fit: contain;
}



